In [1]:
import pandas as pd

In [2]:
pip install pandas

Requirement already satisfied: pandas in /home/kaarina/.local/lib/python3.8/site-packages (2.0.2)
Requirement already satisfied: tzdata>=2022.1 in /home/kaarina/.local/lib/python3.8/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in /home/kaarina/.local/lib/python3.8/site-packages (from pandas) (1.22.3)
Requirement already satisfied: pytz>=2020.1 in /home/kaarina/.local/lib/python3.8/site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/kaarina/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
# load data

clt = pd.read_csv('CLT.csv', sep = ',')
cqt = pd.read_csv('CQT.csv', sep = ',')
ind = pd.read_csv('IND.csv', sep = ',')
jax = pd.read_csv('JAX.csv', sep = ',')
mdw = pd.read_csv('MDW.csv', sep = ',')
phl = pd.read_csv('PHL.csv', sep = ',')
phx = pd.read_csv('PHX.csv', sep = ',')

In [11]:
# aggregate dataset on month, year basis

# first, create month_num and year columns for each dataframe
clt['month_num'] = clt['date'].str.slice(5, 6)
clt['year'] = clt['date'].str.slice(0, 4)

cqt['month_num'] = clt['date'].str.slice(5, 6)
cqt['year'] = clt['date'].str.slice(0, 4)

ind['month_num'] = clt['date'].str.slice(5, 6)
ind['year'] = clt['date'].str.slice(0, 4)

jax['month_num'] = clt['date'].str.slice(5, 6)
jax['year'] = clt['date'].str.slice(0, 4)

mdw['month_num'] = clt['date'].str.slice(5, 6)
mdw['year'] = clt['date'].str.slice(0, 4)

phl['month_num'] = clt['date'].str.slice(5, 6)
phl['year'] = clt['date'].str.slice(0, 4)

phx['month_num'] = clt['date'].str.slice(5, 6)
phx['year'] = clt['date'].str.slice(0, 4)

In [14]:
# remove record_year columns before aggregation
clt.drop(columns=['record_max_temp_year', 'record_min_temp_year', 'date'])

cqt.drop(columns=['record_max_temp_year', 'record_min_temp_year', 'date'])

ind.drop(columns=['record_max_temp_year', 'record_min_temp_year', 'date'])

jax.drop(columns=['record_max_temp_year', 'record_min_temp_year', 'date'])

mdw.drop(columns=['record_max_temp_year', 'record_min_temp_year', 'date'])

phl.drop(columns=['record_max_temp_year', 'record_min_temp_year', 'date'])

phx.drop(columns=['record_max_temp_year', 'record_min_temp_year', 'date'])

# remove date column before aggregation
clt.drop(columns=['date'])
cqt.drop(columns=['date'])
ind.drop(columns=['date'])
jax.drop(columns=['date'])
mdw.drop(columns=['date'])
phl.drop(columns=['date'])
phx.drop(columns=['date'])

,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,actual_precipitation,average_precipitation,record_precipitation,month_num,year
0,98,86,109,82,107,65,115,0.00,0.02,2.68,7,2014
1,98,86,109,82,107,65,118,0.00,0.01,2.81,7,2014
2,94,79,108,82,107,64,117,0.00,0.02,0.22,7,2014
3,90,81,98,83,107,63,118,0.00,0.02,0.22,7,2014
4,94,84,103,83,107,63,116,0.01,0.02,0.18,7,2014
...,...,...,...,...,...,...,...,...,...,...,...,...
360,98,89,107,81,106,62,122,0.00,0.00,0.07,6,2015
361,99,90,108,81,106,55,118,0.01,0.00,0.04,6,2015
362,99,87,110,81,106,59,118,0.00,0.01,0.26,6,2015
363,98,86,110,81,107,59,119,0.05,0.00,0.09,6,2015
364,96,85,107,82,107,64,115,0.00,0.00,0.21,6,2015

In [16]:
# aggregate each df based on year, month_num
clt.groupby(['year', 'month_num']).mean()

TypeError: Could not convert 2014-10-12014-10-22014-10-32014-10-42014-10-52014-10-62014-10-72014-10-82014-10-92014-10-102014-10-112014-10-122014-10-132014-10-142014-10-152014-10-162014-10-172014-10-182014-10-192014-10-202014-10-212014-10-222014-10-232014-10-242014-10-252014-10-262014-10-272014-10-282014-10-292014-10-302014-10-312014-11-12014-11-22014-11-32014-11-42014-11-52014-11-62014-11-72014-11-82014-11-92014-11-102014-11-112014-11-122014-11-132014-11-142014-11-152014-11-162014-11-172014-11-182014-11-192014-11-202014-11-212014-11-222014-11-232014-11-242014-11-252014-11-262014-11-272014-11-282014-11-292014-11-302014-12-12014-12-22014-12-32014-12-42014-12-52014-12-62014-12-72014-12-82014-12-92014-12-102014-12-112014-12-122014-12-132014-12-142014-12-152014-12-162014-12-172014-12-182014-12-192014-12-202014-12-212014-12-222014-12-232014-12-242014-12-252014-12-262014-12-272014-12-282014-12-292014-12-302014-12-31 to numeric

In [4]:
# add city & state information to each csv

# CLT -> Charlotte, North Carolina
# CQT -> Los Angeles, California
# IND -> Indianapolis, Indiana
# JAX -> Jacksonville, Florida
# MDW -> Chicago, Illinois
# PHL -> Philadelphia, Pennsylvania
# PHX -> Phoenix, Arizona

clt['city'] = 'Charlotte'
clt['state'] = 'North Carolina'
clt['shortcode'] = 'CLT'

cqt['city'] = 'Los Angeles'
cqt['state'] = 'California'
cqt['shortcode'] = 'CQT'

ind['city'] = 'Indianapolis'
ind['state'] = 'Indiana'
ind['shortcode'] = 'IND'

jax['city'] = 'Jacksonville'
jax['state'] = 'Florida'
jax['shortcode'] = 'JAX'

mdw['city'] = 'Chicago'
mdw['state'] = 'Illinois'
mdw['shortcode'] = 'MDW'

phl['city'] = 'Philadelphia'
phl['state'] = 'Pennsylvania'
phl['shortcode'] = 'PHL'

phx['city'] = 'Phoenix'
phx['state'] = 'Arizona'
phx['shortcode'] = 'PHX'

In [5]:
# vertically join all of the dataframes together
final = pd.concat([clt, cqt, ind, jax, mdw, phl, phx])

In [21]:
# export df to csv
final.to_csv('final.csv', index=False)