In [1]:
import pandas as pd
import calendar

In [2]:
pip install pandas

Requirement already satisfied: pandas in /home/kaarina/.local/lib/python3.8/site-packages (2.0.2)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in /home/kaarina/.local/lib/python3.8/site-packages (from pandas) (1.22.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/kaarina/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /home/kaarina/.local/lib/python3.8/site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in /home/kaarina/.local/lib/python3.8/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# load data

clt = pd.read_csv('CLT.csv', sep = ',')
cqt = pd.read_csv('CQT.csv', sep = ',')
ind = pd.read_csv('IND.csv', sep = ',')
jax = pd.read_csv('JAX.csv', sep = ',')
mdw = pd.read_csv('MDW.csv', sep = ',')
phl = pd.read_csv('PHL.csv', sep = ',')
phx = pd.read_csv('PHX.csv', sep = ',')

In [3]:
print(mdw.head())

       date  actual_mean_temp  actual_min_temp  actual_max_temp  \
0  2014-7-1                76               68               84
1  2014-7-2                66               58               74
2  2014-7-3                66               57               75
3  2014-7-4                70               60               79
4  2014-7-5                71               63               79

   average_min_temp  average_max_temp  record_min_temp  record_max_temp  \
0                67                84               49              103
1                67                84               48               99
2                67                84               50              102
3                67                84               49              101
4                67                84               46              103

   record_min_temp_year  record_max_temp_year  actual_precipitation  \
0                1982.0                1956.0                  0.04
1                1930.0                1970.0                  0.12
2                1940.0                1949.0                  0.05
3                1940.0                2012.0                  0.00
4                1972.0                2012.0                  0.01

   average_precipitation  record_precipitation
0                   0.11                  1.23
1                   0.10                  2.50
2                   0.11                  1.38
3                   0.11                  0.94
4                   0.13                  1.18

In [76]:
# aggregate dataset on month, year basis

# first, create month_num and year columns for each dataframe
clt['month_num'] = clt['date'].str.slice(5, 6)
clt['year'] = clt['date'].str.slice(0, 4)

cqt['month_num'] = clt['date'].str.slice(5, 6)
cqt['year'] = clt['date'].str.slice(0, 4)

ind['month_num'] = clt['date'].str.slice(5, 6)
ind['year'] = clt['date'].str.slice(0, 4)

jax['month_num'] = clt['date'].str.slice(5, 6)
jax['year'] = clt['date'].str.slice(0, 4)

mdw['month_num'] = clt['date'].str.slice(5, 6)
mdw['year'] = clt['date'].str.slice(0, 4)

phl['month_num'] = clt['date'].str.slice(5, 6)
phl['year'] = clt['date'].str.slice(0, 4)

phx['month_num'] = clt['date'].str.slice(5, 6)
phx['year'] = clt['date'].str.slice(0, 4)

In [77]:
# add month name column to each df
month_mapping = {'month_num': ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
        'month_name': ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September',
                      'October', 'November', 'December']}

mm_df = pd.DataFrame(month_mapping)

clt = pd.merge(clt, mm_df, on='month_num')
cqt = pd.merge(cqt, mm_df, on='month_num')
ind = pd.merge(ind, mm_df, on='month_num')
jax = pd.merge(jax, mm_df, on='month_num')
mdw = pd.merge(mdw, mm_df, on='month_num')
phl = pd.merge(phl, mm_df, on='month_num')
phx = pd.merge(phx, mm_df, on='month_num')

In [78]:
# remove record_year columns before aggregation
clt = clt.drop(columns=['record_max_temp_year', 'record_min_temp_year', 'date'])

cqt = cqt.drop(columns=['record_max_temp_year', 'record_min_temp_year', 'date'])

ind = ind.drop(columns=['record_max_temp_year', 'record_min_temp_year', 'date'])

jax = jax.drop(columns=['record_max_temp_year', 'record_min_temp_year', 'date'])

mdw = mdw.drop(columns=['record_max_temp_year', 'record_min_temp_year', 'date'])

phl = phl.drop(columns=['record_max_temp_year', 'record_min_temp_year', 'date'])

phx = phx.drop(columns=['record_max_temp_year', 'record_min_temp_year', 'date'])

In [79]:
# aggregate each df based on year, month_num
clt_grouped = clt.groupby(['year', 'month_num', 'month_name'], as_index=False).mean()
cqt_grouped = cqt.groupby(['year', 'month_num', 'month_name'], as_index=False).mean()
ind_grouped = ind.groupby(['year', 'month_num', 'month_name'], as_index=False).mean()
jax_grouped = jax.groupby(['year', 'month_num', 'month_name'], as_index=False).mean()
mdw_grouped = mdw.groupby(['year', 'month_num', 'month_name'], as_index=False).mean()
phl_grouped = phl.groupby(['year', 'month_num', 'month_name'], as_index=False).mean()
phx_grouped = phx.groupby(['year', 'month_num', 'month_name'], as_index=False).mean()

In [80]:
# add city & state information to each csv

# CLT -> Charlotte, North Carolina
# CQT -> Los Angeles, California
# IND -> Indianapolis, Indiana
# JAX -> Jacksonville, Florida
# MDW -> Chicago, Illinois
# PHL -> Philadelphia, Pennsylvania
# PHX -> Phoenix, Arizona

clt_grouped['city'] = 'Charlotte'
clt_grouped['state'] = 'North Carolina'
clt_grouped['shortcode'] = 'CLT'

cqt_grouped['city'] = 'Los Angeles'
cqt_grouped['state'] = 'California'
cqt_grouped['shortcode'] = 'CQT'

ind_grouped['city'] = 'Indianapolis'
ind_grouped['state'] = 'Indiana'
ind_grouped['shortcode'] = 'IND'

jax_grouped['city'] = 'Jacksonville'
jax_grouped['state'] = 'Florida'
jax_grouped['shortcode'] = 'JAX'

mdw_grouped['city'] = 'Chicago'
mdw_grouped['state'] = 'Illinois'
mdw_grouped['shortcode'] = 'MDW'

phl_grouped['city'] = 'Philadelphia'
phl_grouped['state'] = 'Pennsylvania'
phl_grouped['shortcode'] = 'PHL'

phx_grouped['city'] = 'Phoenix'
phx_grouped['state'] = 'Arizona'
phx_grouped['shortcode'] = 'PHX'

In [81]:
# vertically join all of the dataframes together
final = pd.concat([clt_grouped, cqt_grouped, ind_grouped, jax_grouped, mdw_grouped, phl_grouped, phx_grouped])

In [83]:
# export df to csv
final.to_csv('final.csv', index=False)